* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
    color: #000;
    text-align: justify;
}

#cover {
    background-image: url(../images/florida.jpg); /* My image - taken in Universal Studios in Florida using an iPhone 5s! */
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    height: 500px;
}

/* Was used previously as the old heading image - keeping this in case I decide to change back! 
#heyimpaige {
    display: block;
    margin: 0 auto;
    clear: both;    
}
*/

.wrap {
    max-width: 960px;
    margin: 0 auto;
}

.heading {
    font-family: 'Dancing Script', sans-serif;
    font-size: 13em;
    font-weight: 400;
    color: #FFFFFF;
    padding-top: 115px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    margin: 0 auto;
    clear: both; 
}

.smallhr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
    margin: 0 auto;
    margin-top: 20px;
    max-width: 50%;
    clear: both;
} 

h1 {
    text-align: center;
    padding-top: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 200;    
}

h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 200;
    padding-bottom: 10px;
}

.introp {
    padding-top: 40px;
}

p {
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.smaller {
    font-size: 12px;
}

#thatsme {
    float: right;
    /* rotates image 8 degrees clockwise */
    -ms-transform: rotate(8deg); /* IE 9 */
    -webkit-transform: rotate(8deg); /* Chrome, Safari, Opera */
    transform: rotate(8deg);
    padding: 30px 0px 20px 20px; /* top right bottom left */ 
    clear: both;
}

#bye {
    float: right;
    clear: both;
}

.sectionh1 {
    clear: both;
    padding-top: 50px;
}

.tweet {
    color: #4099FF;
    font-weight: 400;
}

.tweet:hover {
    color: #4099FF;
}

.dribbble {
    color: #C73B6F;
    font-weight: 400;
}

.dribbble:hover {
    color: #C73B6F;
}

.facebook {
    color: #3b5998;
    font-weight: 400;
}

.facebook:hover {
    color: #3b5998;
}

.codepen {
    color: #212121;
    font-weight: 400;
}

.codepen:hover {
    color: #212121;
}

.instagram {
    color: #4E433C;
    font-weight: 400;
}

.instagram:hover {
    color: #4E433C;
}

.tumblr {
    color: #395774;
    font-weight: 400;
}

.tumblr:hover {
    color: #395774;
}

.portfolio {
    color: #6e1855;
    font-weight: 400;
}

.portfolio:hover {
    color: #6e1855;
}

.github {
    color: #333333;
    font-weight: 400;
}

.github:hover {
    color: #333333;
}

.copyright {
    text-align: center;
    font-size: 70%;
    color: #777;
}


/* Button  */
a.button {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #6e1855;
    width: 200px;
    padding: 15px 10px;
    margin: 0 auto; 
    text-decoration: none;
    background-color: rgba(255,255,255,0.3);
    border: 2px solid #6e1855;
    display: block;
    transition: all 0.3s ease 0s;
}


a.button:hover {
    background-color: #6e1855;
    color: #fff;
    border: 2px solid #6e1855;

}

.textshadow: 2px 4px 3px rgba(0,0,0,0.3);


/* Some nice CSS animations/transitions */
.fadein{
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
    animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/*From http://miketricking.github.io/dist/  */
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
